@import "tailwindcss";

* {
    color: var(--color-slate-200);

}

h1, h2 {
    color: var(--color-slate-200);
}

p {
    color: var(--color-slate-400);
}

a {
    color: var(--color-slate-200);
}

a:hover {
    color: var(--color-indigo-200);
}

nav ul li a {
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
